<!DOCTYPE html>
<html>
  <head>
    <title>UgaWeather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://code.highcharts.com/highcharts.js' %>
    <%= javascript_include_tag 'https://code.highcharts.com/highcharts-more.js' %>
  </head>

  <body>
    <div id="menus">
      <ul>
        <% @report[:menu].each do |menu_item| %>
          <li><%= link_to(menu_item[:name], menu_item[:path]) %></li>
        <% end %>
      </ul>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
